@import "../../style/breakpoints";
@import "../../style/variables";

.items-slider {
  padding: 15px 25px 70px;

  @include sm-size {
    padding: 0;
  }

  .slider-control-button {
    font-size: 30px;

    @include sm-size {
      font-size: 50px;
    }

    &.prev-button,
    &.next-button {
      &:focus-visible {
        color: $index_page_accent_color;
      }
    }

    &.prev-button {
      margin-right: 20px;

      @include md-size {
        margin-right: 70px;
      }
    }

    &.next-button {
      margin-left: 20px;

      @include md-size {
        margin-left: 70px;
      }
    }
  }

  .slider-container {
    display: flex;
    flex-grow: 1;
    font-size: 20px;
    letter-spacing: 0.15em;
    padding: 15px 0;
    overflow: hidden;
    white-space: nowrap;
    // justify-content: center;

    @include sm-size {
      font-size: 35px;
      padding: 30px 0;
    }

    @include lg-size {
      font-size: 50px;
      padding: 23px 0;
    }

    .slider-wrapper {
      display: flex;
      transition: 0.5s ease-in-out;
    }

    .slider-item {
      position: relative;
      padding: 0 20px;

      @include sm-size {
        padding: 0 35px;
      }

      @include lg-size {
        padding: 0 50px;
      }

      .item-link {
        display: inline-block;
        transform: translateY(0);
        color: transparent;
        transition: 0.5s ease-in-out;
        pointer-events: none;
      }

      .slider-select-mark {
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translate(-50%, 15px);
        opacity: 0;
        visibility: hidden;
        transition: 0.3s ease-in-out;

        img {
          width: 42px;
          height: auto;

          @include sm-size {
            width: 70px;
          }

          @include lg-size {
            width: 98px;
          }
        }
      }

      &.active {
        .item-link {
          transform: translateY(-13px);
          font-weight: bold;
          color: #ffffff;
          pointer-events: unset;

          @include sm-size {
            transform: translateY(-20px);
          }

          @include md-size {
            transform: translateY(-27px);
          }

          &:focus-visible {
            color: lighten($index_page_accent_color, 10);
          }
        }

        .slider-select-mark {
          transform: translate(-50%, 0);
          opacity: 1;
          visibility: visible;
          transition: 0.6s ease-in-out;
        }
      }

      &.left-slide {
        .item-link {
          background: linear-gradient(
            -90deg,
            rgba(255, 255, 255, 0.8),
            rgba(0, 0, 0, 0)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }

      &.right-slide {
        .item-link {
          background: linear-gradient(
            90deg,
            rgba(255, 255, 255, 0.8),
            rgba(0, 0, 0, 0)
          );
          background-clip: text;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
        }
      }
    }
  }
}
