@import "../../style/breakpoints";

.categories-list {
  @include sm-size {
    width: 100%;
    display: flex;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 2px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border: 1px solid #ffffff;
      border-left: none;
      border-right: none;
    }

    &::-webkit-scrollbar-thumb {
      background: rgba(#ffffff, 0.22);
    }
  }

  @include lg-size {
    flex-direction: column;
  }

  @include xl-size {
    flex-direction: row;
    width: auto;
  }

  .categories-column {
    width: 100%;

    @include sm-size {
      width: 50%;
    }

    @include lg-size {
      display: inline-block;
      width: 500px;
      padding-right: 15px;
    }

    @include xl-size {
      width: 315px;
    }

    @include xxl-size {
      width: 375px;
    }
  }
}
