.custom-backgrounds {
  position: relative;
  width: 100%;
  height: 375px;
  z-index: -100;
  overflow: hidden;

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100px;
    background: linear-gradient(
      0deg,
      rgba($body_bg_color, 1),
      rgba($body_bg_color, 0)
    );
  }

  @include sm-size {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    &::after {
      height: 100%;
      background: rgba(0, 0, 0, 0.5);
    }
  }

  @include lg-size {
    &::after {
      display: none;
    }
  }

  &.index-page-background,
  &.fallback-page-background,
  &.credits-page-background {
    background-image: $bg_mobile_img;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;

    @include sm-size {
      background-image: $bg_desktop_img;
    }
  }

  &.fallback-page-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 375px;

    @include sm-size {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;

      &::after {
        height: 100%;
        background: rgba(0, 0, 0, 0.5);
      }
    }
  }

  &.credits-page-background {
    position: absolute;
    top: 0;
    left: 0;
    height: 375px;

    @include sm-size {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
    }

    @include sm-size {
      &::after {
        display: none;
      }
    }
  }

  .layer-image,
  .front-video {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 100%;
    width: auto;
  }

  .front-layer {
    position: relative;
    width: 100%;
    height: 100%;

    .layer-image {
      opacity: 0;
      visibility: hidden;
      transform: translateY(50px);
      transition: 0.5s ease-in-out;

      @include sm-size {
        transform: translateY(100px);
        height: auto;
        width: 100%;
      }

      @include lg-size {
        height: 100%;
        width: auto;
      }
    }

    .layer-image {
      &.active {
        opacity: 1;
        visibility: visible;
        transform: translateY(0);
        transition: 1.1s ease-in-out;
      }
    }
  }

  .about-image-container {
    position: absolute;
    bottom: 0;
    right: 0;
    width: 100%;
    padding: 0 30px;

    @include sm-size {
      right: 30px;
      width: auto;
      height: 100%;
      padding: 120px 0;
    }

    @include lg-size {
      right: 70px;
      padding: 50px 0;
    }

    @include xl-size {
      right: 130px;
    }

    .about-image {
      width: 100%;

      @include sm-size {
        width: auto;
        height: 100%;
      }
    }
  }

  .front-video {
    margin: 0;
    padding: 0;

    @include sm-size {
      min-height: 100%;
      width: auto;
    }

    @include lg-size {
      bottom: unset;
      top: 0;
      // min-height: auto;
      min-width: 100%;
      height: auto;
    }
  }
}
