#root:not(:empty) + .page-loading {
  opacity: 0;
  visibility: hidden;
}
#root:not(:empty) + .page-loading .image-container img,
#root:not(:empty) + .page-loading .image-container .left-eye,
#root:not(:empty) + .page-loading .image-container .right-eye,
#root:not(:empty) + .page-loading .loading-bar-container .loading-bar {
  animation-duration: 0.5s;
}

.page-loading {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #121212;
  opacity: 1;
  visibility: visible;
  transition: all 0.6s step-end;
}

.page-loading .image-container {
  position: relative;
  margin-bottom: 60px;
}

@media only screen and (max-width: 500px) {
  .page-loading .image-container {
    margin-bottom: 35px;
  }
}

.page-loading .image-container img {
  width: 200px;
  transform: rotateX(10deg) rotateY(20deg);
  animation: medusa-head 15s linear forwards;
}

@media only screen and (max-width: 500px) {
  .page-loading .image-container img {
    width: 150px;
  }
}

.page-loading .image-container .left-eye,
.page-loading .image-container .right-eye {
  position: absolute;
  top: 73px;
  width: 5px;
  height: 145px;
  background: linear-gradient(
    180deg,
    #fff 0%,
    rgba(0, 0, 0, 0.039) 88.9%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: drop-shadow(0px 0px 6px #fff);
}

@media only screen and (max-width: 500px) {
  .page-loading .image-container .left-eye,
  .page-loading .image-container .right-eye {
    top: 56px;
    width: 5px;
    height: 115px;
  }
}

.page-loading .image-container .left-eye {
  left: 79px;
  transform-origin: top;
  transform: rotate(45deg);
  animation: left-eye-rotation 15s linear forwards;
}

@media only screen and (max-width: 500px) {
  .page-loading .image-container .left-eye {
    left: 59px;
    transform: rotate(40deg);
    animation: left-eye-rotation_small-screen 15s linear forwards;
  }
}

.page-loading .image-container .right-eye {
  left: 111px;
  transform-origin: top;
  transform: rotate(49deg);
  animation: right-eye-rotation 15s linear forwards;
}

@media only screen and (max-width: 500px) {
  .page-loading .image-container .right-eye {
    left: 83px;
    transform: rotate(44deg);
    animation: right-eye-rotation_small-screen 15s linear forwards;
  }
}

.page-loading .loading-bar-container {
  width: 350px;
  height: 8px;
  background-color: transparent;
}

@media only screen and (max-width: 500px) {
  .page-loading .loading-bar-container {
    width: 200px;
    height: 5px;
  }
}

.page-loading .loading-bar-container .loading-bar {
  display: inline-block;
  width: 0%;
  height: 100%;
  background-color: #e0e0dc;
  border-radius: 2px;
  animation: loading-bar-fill 15s linear forwards;
}

@media only screen and (max-width: 500px) {
  .page-loading .loading-bar-container .loading-bar {
    animation: loading-bar-fill_small-screen 15s linear forwards;
  }
}

@keyframes medusa-head {
  0% {
    transform: rotateX(10deg) rotateY(20deg);
  }
  6.67% {
    transform: rotateX(10deg) rotateY(4deg);
  }
  26.67% {
    transform: rotateX(10deg) rotateY(-12deg);
  }
  60% {
    transform: rotateX(10deg) rotateY(-16deg);
  }
  100% {
    transform: rotateX(10deg) rotateY(-20deg);
  }
}
@keyframes loading-bar-fill {
  0% {
    width: 0%;
  }
  6.67% {
    width: 40%;
  }
  26.67% {
    width: 80%;
  }
  60% {
    width: 90%;
  }
  100% {
    width: 100%;
  }
}
@keyframes left-eye-rotation {
  0% {
    transform: rotate(45deg);
  }
  6.67% {
    transform: rotate(7.4deg);
  }
  26.67% {
    transform: rotate(-30.2deg);
  }
  60% {
    transform: rotate(-39.6deg);
  }
  100% {
    transform: rotate(-49deg);
  }
}
@keyframes right-eye-rotation {
  0% {
    transform: rotate(49deg);
  }
  6.67% {
    transform: rotate(11.4deg);
  }
  26.67% {
    transform: rotate(-26.2deg);
  }
  60% {
    transform: rotate(-35.6deg);
  }
  100% {
    transform: rotate(-45deg);
  }
}

@keyframes medusa-head_small-screen {
  to {
    transform: rotateX(10deg) rotateY(-20deg);
  }
}
@keyframes loading-bar-fill_small-screen {
  to {
    width: 100%;
  }
}
@keyframes left-eye-rotation_small-screen {
  to {
    transform: rotate(-44deg);
  }
}
@keyframes right-eye-rotation_small-screen {
  to {
    transform: rotate(-40deg);
  }
}
