.about-page {
  width: 100vw;
  height: 100vh;

  .brand-logo {
    top: 25px;
    left: $sides_spacing_mobile - 5px;
    z-index: 100;
    // @include animate-opacity-translate(0, -60px, 0, 0.9s, ease-out, 0.3s);

    &:focus-visible {
      img {
        filter: drop-shadow(0px 20px 40px #ffffff);
      }
    }

    @include sm-size {
      top: 35px;
      left: $sides_spacing_tablet;
    }

    @include lg-size {
      top: 50px;
      left: $sides_spacing_desktop - 5px;
    }

    img {
      width: 65px;

      @include sm-size {
        width: 100px;
      }

      @include lg-size {
        width: 135px;
      }
    }
  }

  .page-content {
    display: flex;
    flex-direction: column;
    padding: 0 30px;
    z-index: 0;

    @include sm-size {
      width: 100%;
      height: 100%;
      flex-direction: row;
    }

    @include lg-size {
      padding: 0 50px;
    }

    @include xl-size {
      padding: 0 70px;
    }

    .left-side {
      display: flex;
      flex-direction: column;

      @include sm-size {
        order: 1;
        display: flex;
        flex-direction: column;
        padding-top: 25vh;
        padding-bottom: 7vh;
        overflow: hidden;
      }

      .description-panel {
        position: relative;
        flex-grow: 1;
        width: 100%;
        padding: 25px 15px;
        background-color: rgba(255, 255, 255, 0.06);
        border-radius: 5px;

        @include sm-size {
          padding: 65px 50px 100px;
          width: 950px;
          border-radius: 10px;
        }

        .description {
          padding: 0 15px;

          p {
            margin: 0;
            font-size: 16px;
            line-height: 18px;
            letter-spacing: 0.035em;
            opacity: 85%;

            @include sm-size {
              font-size: 25px;
              line-height: 32px;
              opacity: 100%;
            }
          }
        }

        .top-left-frame,
        .bottom-right-frame {
          position: absolute;
          top: 15px;
          left: 15px;

          @include sm-size {
            top: 45px;
            left: 40px;
          }

          div {
            &:first-child {
              width: 20px;
              height: 1px;
              background-color: #c4b480;
              border-radius: 5px;

              @include sm-size {
                width: 30px;
                height: 2px;
              }
            }
            &:last-child {
              position: absolute;
              top: 0;
              left: 0;
              width: 1px;
              height: 20px;
              background-color: #c4b480;
              border-radius: 5px;

              @include sm-size {
                width: 2px;
                height: 30px;
              }
            }
          }
        }

        .bottom-right-frame {
          top: unset;
          left: unset;
          bottom: 15px;
          right: 15px;
          transform: rotate(180deg);

          @include sm-size {
            bottom: 45px;
            right: 40px;
          }
        }
      }
    }

    .main-title {
      margin: 0 0 65px !important;
      background: $h1_gradient_color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include lg-size {
        margin: 0 0 45px;
      }
    }
  }
}
