.fallback-page {
  width: 100vw;
  height: 100vh;

  .brand-logo {
    top: 25px;
    left: $sides_spacing_mobile - 5px;
    z-index: 100;
    // @include animate-opacity-translate(0, -60px, 0, 0.9s, ease-out, 0.3s);

    &:focus-visible {
      img {
        filter: drop-shadow(0px 20px 40px #ffffff);
      }
    }

    @include sm-size {
      top: 35px;
      left: $sides_spacing_tablet;
    }

    @include lg-size {
      top: 50px;
      left: $sides_spacing_desktop - 5px;
    }

    img {
      width: 65px;

      @include sm-size {
        width: 100px;
      }

      @include lg-size {
        width: 135px;
      }
    }
  }

  .page-content {
    flex-direction: column;

    @include lg-size {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 100%;
      width: 100%;
      padding: 0 50px 0 30px;
    }

    @include xl-size {
      padding: 0 70px;
    }

    @include xxl-size {
      padding: 0 150px;
    }

    .first-section {
      @include sm-size {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: -100;
      }

      @include lg-size {
        position: static;
        width: auto;
        height: auto;
      }

      .image-container {
        position: relative;
        padding: 0 40px;
        text-align: center;

        &::after {
          content: "";
          position: absolute;
          bottom: 0;
          left: 0;
          width: 100%;
          height: 100px;
          background: linear-gradient(
            0deg,
            rgba($body_bg_color, 1),
            rgba($body_bg_color, 0)
          );
        }

        @include sm-size {
          width: 100%;
          height: 100%;
          padding: 0;
          &::after {
            height: 100%;
            background: rgba(0, 0, 0, 0.5);
          }
        }

        @include lg-size {
          display: flex;
          position: static;
          transform: translateX(0);
          width: auto;
          &::after {
            display: none;
          }
        }

        img {
          width: 100%;
          max-width: 350px;

          @include sm-size {
            max-width: unset;
            height: 100%;
            width: auto;
          }

          @include lg-size {
            align-self: flex-end;
            height: 80%;
          }

          @include xl-size {
            height: 90%;
          }

          @include xxl-size {
            height: 100%;
          }
        }
      }
    }

    .second-section {
      flex-grow: 1;
      z-index: 100;

      @include sm-size {
        height: 100vh;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
      }

      @include xxl-size {
        padding-left: 50px;
      }

      .text-container {
        padding: 80px 30px;
        z-index: 100;

        @include lg-size {
          padding: 0;
        }

        .redirect-description {
          font-size: 30px;
          line-height: 33px;
          text-align: center;
          margin: 0;
          margin-bottom: 30px;

          @include sm-size {
            font-size: 55px;
            line-height: 99px;
            line-height: 65px;
            margin-bottom: 40px;
          }

          @include lg-size {
            font-size: 45px;
            line-height: 50px;
            text-align: left;
            margin-top: 40px;
            margin-bottom: 40px;
          }

          @include xl-size {
            font-size: 60px;
            line-height: 66px;
            text-align: left;
            margin-top: 40px;
            margin-bottom: 40px;
          }

          @include xxl-size {
            font-size: 80px;
            line-height: 88px;
            text-align: left;
            margin-top: 40px;
            margin-bottom: 40px;
          }
        }

        .redirect-button {
          text-align: center;

          @include lg-size {
            text-align: left;
          }

          a {
            display: inline-block;
            position: relative;
            font-size: 30px;
            color: #ccb37a;
            overflow: hidden;

            // &::before {
            //   content: "";
            //   position: absolute;
            //   top: 50%;
            //   left: 115%;
            //   transform: translateY(-50%) rotate(35deg);
            //   width: 10%;
            //   height: 130%;
            //   background-color: rgba($index_page_accent_color, 0.3);
            //   animation: redirect-btn 2.5s ease-in-out infinite;
            //   z-index: -1;
            // }

            @include sm-size {
              font-size: 45px;
            }

            @include lg-size {
              font-size: 40px;
            }
            @include xl-size {
              font-size: 60px;
            }
          }
        }
      }
    }
  }
}
