.god-template {
  width: 100vw;
  height: 100vh;

  .back-button-container {
    position: absolute;
    top: 20px;
    left: 0;
    z-index: 1000;

    @include sm-size {
      top: 35px;
    }

    .prev-page-button {
      display: inline-block;
      position: relative;
      width: 40px;
      height: 25px;
      background: $button_gradient_color;

      @include sm-size {
        width: 90px;
        height: 50px;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: #000000;

        @include sm-size {
          font-size: 70px;
        }
      }
    }
  }

  .text-section {
    position: relative;
    padding: 0 20px 25px;
    margin: 30px 0 25px;

    @include sm-size {
      display: flex;
      flex-direction: column;
      height: 100%;
      width: 100%;
      margin: 0;
      padding: 150px 25px 50px;
    }

    @include lg-size {
      display: unset;
      height: auto;
      width: auto;
      position: absolute;
      bottom: 75px;
      left: 65px;
      padding: 0;
      margin: 0;
    }

    .title {
      position: absolute;
      top: -100px;
      left: 30px;
      padding-left: 10px;
      margin-bottom: 65px;
      background: $h3_gradient_color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      text-transform: capitalize;

      @include sm-size {
        position: relative;
        top: 0;
        left: 0;
        padding-left: 20px;
        margin-bottom: 40px;
      }

      @include lg-size {
        padding-left: 50px;
        margin-bottom: 80px;
      }
    }

    .categories-panel {
      background-color: rgba(255, 255, 255, 0.088);
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      overflow: hidden;

      @include sm-size {
        flex-grow: 1;
      }

      @include lg-size {
        flex-grow: unset;
        flex-direction: row;
        height: 52.77vh; // 570px for 1080h;
        background-color: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
      }

      .categories-container {
        padding: 30px 25px 20px;
        transition: 0.4s ease-in-out;

        @include sm-size {
          display: flex;
          flex-direction: row;
          overflow-y: hidden;
        }

        @include lg-size {
          display: flex;
          flex-direction: row;
          padding: 40px 0 40px 30px;
          overflow-y: hidden;
        }

        @include xl-size {
          padding: 60px 0 60px 50px;
        }

        &._hide {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(30px);
          transition: 0.3s ease-in-out;
        }
      }

      .selected-category-container {
        padding: 17px 15px 40px;
        transition: 0.4s ease-in-out;

        @include sm-size {
          overflow-y: auto;
          clear: both;
        }

        @include lg-size {
          display: flex;
          flex-direction: row;
          padding: 25px 0 30px 30px;
          overflow-y: hidden;
        }

        @include xl-size {
          padding: 25px 0 50px 50px;
        }

        &._hide {
          position: absolute;
          top: 0;
          left: 0;
          transform: translateY(30px);
        }
      }

      .image-container {
        display: none;

        @include lg-size {
          display: block;
          width: 350px;
          height: 100%;
          text-align: center;
          padding: 30px 0;
        }

        @include xl-size {
          width: 450px;
        }

        @include xxl-size {
          width: 500px;
        }

        .category-image {
          height: 100%;
          width: auto;
        }
      }
    }
  }
}
