.god-template {
  width: 100vw;
  height: 100vh;

  .back-button-container {
    position: absolute;
    top: 20px;
    left: 0;

    @include sm-size {
      top: 35px;
    }

    .prev-page-button {
      display: inline-block;
      position: relative;
      width: 40px;
      height: 25px;
      background: $button_gradient_color;

      @include sm-size {
        width: 90px;
        height: 50px;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        font-size: 30px;
        color: #000000;

        @include sm-size {
          font-size: 70px;
        }
      }
    }
  }
}
