.index-page {
  width: 100vw;
  height: 100vh;

  .brand-logo {
    top: 25px;
    left: $sides_spacing_mobile - 5px;
    // @include animate-opacity-translate(0, -60px, 0, 0.9s, ease-out, 0.3s);

    &:focus-visible {
      img {
        filter: drop-shadow(0px 20px 40px #ffffff);
      }
    }

    @include sm-size {
      top: 35px;
      left: $sides_spacing_tablet;
    }

    @include lg-size {
      top: 50px;
      left: $sides_spacing_desktop - 5px;
    }

    img {
      width: 65px;

      @include sm-size {
        width: 100px;
      }

      @include lg-size {
        width: 135px;
      }
    }
  }

  .text-area {
    position: relative;
    padding: 40px $sides_spacing_mobile 0;

    @include sm-size {
      position: absolute;
      top: 50%;
      left: $sides_spacing_tablet;
      max-width: $quote_width_tablet + $sides_spacing_tablet;
      padding: 0 $sides_spacing_tablet 0 0;
      transform: translateY(-50%);
    }

    @include lg-size {
      top: 50%;
      left: $sides_spacing_desktop;
      max-width: $quote_width_desktop + $sides_spacing_desktop;
      padding-right: $sides_spacing_desktop;
    }

    .main-title {
      margin: 0 0 30px;
      background: $h1_gradient_color;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;

      @include lg-size {
        margin: 0 0 55px;
      }
    }
  }

  .slider-section {
    position: relative;
    width: 100%;

    @include sm-size {
      position: absolute;
      bottom: 10vh;
      left: $sides_spacing_tablet;
      width: calc(100% - 90px);
      max-width: $slider_width_tablet;
    }

    @include lg-size {
      left: 75px;
      max-width: $slider_width_desktop;
    }
  }
}
