.credits-dropdown {
  width: 100%;

  @include sm-size {
    width: 500px;
  }

  .dropdown-container {
    width: 100%;
    .dropdown-button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      background-color: rgba(255, 255, 255, 0.06);
      border-radius: 10px;

      @include sm-size {
        padding: 18px 25px;
      }

      .dropdown-title {
        font-size: 18px;
        letter-spacing: 0.035em;

        @include sm-size {
          font-size: 35px;
        }
      }

      .dropdown-icon {
        font-size: 30px;
        color: #ccb37a;
        transform: rotate(90deg);

        @include sm-size {
          font-size: 50px;
        }
      }
    }

    .dropdown-items-container {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      padding: 10px 25px;
      overflow: hidden;
      transition: max-height 0.7s ease-out;
      transition: 0.7s ease-out;

      @include sm-size {
        padding: 15px 25px;
      }

      ul {
        position: relative;
        padding: 5px 0 10px 20px;

        @include sm-size {
          padding: 15px 0 20px 30px;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          height: 100%;
          background-color: #ffffff;
        }

        li {
          font-size: 18px;
          letter-spacing: 0.035em;
          margin-bottom: 10px;

          @include sm-size {
            font-size: 25px;
            margin-bottom: 15px;
          }

          &:last-child {
            margin-bottom: 0;
          }

          .dropdown-item-title {
            opacity: 0.7;
          }
          .dropdown-item-link {
            margin-left: 5px;
            color: #c4b480;

            @include lg-size {
              margin-left: 15px;
            }
          }
        }
      }
    }
  }

  &.active {
    .dropdown-container {
      .dropdown-button {
        background-color: #665a3c;

        .dropdown-icon {
          color: #ffffff;
          transform: rotate(-90deg);
        }
      }
      .dropdown-items-container {
        max-height: 500px;
        opacity: 1;
        visibility: visible;
        // transition: 0.7s ease-in-out;
      }
    }
  }
}
