@import "../../style/breakpoints";

.credits-dropdown {
  width: 100%;

  @include sm-size {
    width: 230px;
  }

  @include lg-size {
    width: 350px;
  }

  @include xl-size {
    width: 430px;
  }

  @include xxl-size {
    width: 500px;
  }

  .dropdown-container {
    width: 100%;
    .dropdown-button {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px 15px;
      background-color: rgba(255, 255, 255, 0.06);
      border-radius: 10px;
      transition: 0.3s ease-in-out;

      @include sm-size {
        padding: 12px 15px;
      }

      @include lg-size {
        padding: 12px 18px;
      }

      @include xl-size {
        padding: 11px 23px;
      }

      @include xxl-size {
        padding: 15px 25px;
      }

      .dropdown-title {
        font-size: 18px;
        letter-spacing: 0.035em;

        @include lg-size {
          font-size: 25px;
        }

        @include xl-size {
          font-size: 28px;
        }

        @include xxl-size {
          font-size: 35px;
        }
      }

      .dropdown-icon {
        font-size: 30px;
        color: #ccb37a;
        transform: rotate(90deg);
        transition: 0.3s ease-in-out;

        @include lg-size {
          font-size: 35px;
        }

        @include xl-size {
          font-size: 40px;
        }

        @include xxl-size {
          font-size: 50px;
        }
      }
    }

    .dropdown-items-container {
      max-height: 0;
      opacity: 0;
      visibility: hidden;
      padding: 10px 18px;
      overflow: hidden;
      transition: max-height 0.5s ease-out;
      transition: 0.5s ease-out;

      @include sm-size {
        padding: 10px 15px;
      }

      @include lg-size {
        padding: 12px 20px;
      }

      @include xl-size {
        padding: 15px 25px;
      }

      ul {
        position: relative;
        padding: 5px 0 10px 20px;

        @include sm-size {
          padding: 10px 0 10px 12px;
        }

        @include lg-size {
          padding: 10px 0 15px 25px;
        }

        @include xl-size {
          padding: 15px 0 20px 30px;
        }

        &::after {
          content: "";
          position: absolute;
          top: 0;
          left: 0;
          width: 1px;
          height: 100%;
          background-color: #ffffff;
        }
      }
    }
  }

  &.active {
    .dropdown-container {
      .dropdown-button {
        background-color: #665a3c;

        .dropdown-icon {
          color: #ffffff;
          transform: rotate(-90deg);
        }
      }
      .dropdown-items-container {
        max-height: 500px;
        opacity: 1;
        visibility: visible;
      }
    }
  }
}
