@font-face {
  font-family: "Norse";
  src: url("./fonts/norse.regular.otf");
  font-weight: normal;
}

@font-face {
  font-family: "Norse";
  src: url("./fonts/norse.bold.otf");
  font-weight: bold;
}

@font-face {
  //secondary
  font-family: "Gelio";
  src: url("./fonts/gelio.kleftiko.ttf");
  font-weight: normal;
}
