* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Norse", Arial, Helvetica, sans-serif;
}

.custom-gradient {
  background: $h1_gradient_color;
  //   background: linear-gradient()
}
