* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: $primary_font;
  background-color: $body_bg_color;
  color: $body_text_color;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

a {
  color: #ffffff;
  font-weight: normal;
  text-decoration: none;

  &:active {
    color: #ffffff;
  }

  &:focus {
    outline: none;
  }

  &:focus-visible {
    outline: none;
  }
}

h1 {
  font-size: $h1_font_size_mobile;
  letter-spacing: 0.15em;
  font-weight: normal;

  @include sm-size {
    font-size: $h1_font_size_tablet;
  }

  @include lg-size {
    font-size: $h1_font_size_desktop;
  }
}
