._text-cap {
  text-transform: capitalize !important;
}

._text-uppercase {
  text-transform: uppercase !important;
}

._text-weight-bold {
  font-weight: bold !important;
}

._text-weight-normal {
  font-weight: normal !important;
}

._text-weight-light {
  font-weight: 300 !important;
}

._text-center {
  text-align: center !important;
}

._text-left {
  text-align: left !important;
}

._text-right {
  text-align: right !important;
}
