//colors
$body_bg_color: #060605;
$body_bg_inverted_color: #f9f9fa;
$body_text_color: #ffffff;
$h1_gradient_color: linear-gradient(0deg, #8c622a, #d9c681);
$h3_gradient_color: linear-gradient(-45deg, #fee78d, #57370d);
$button_gradient_color: linear-gradient(-45deg, #ffe998, #57370d);
$navbar_accent_color: #d9c681;

//text / font
$primary_font: "Norse", Arial, Helvetica, sans-serif;
$secondary_font: "Gelio", Arial, Helvetica, sans-serif;
$h1_font_size_mobile: 30px;
$h1_font_size_tablet: 45px;
$h1_font_size_desktop: 70px;
$h3_font_size_mobile: 55px;
$h3_font_size_tablet: 80px;
$h3_font_size_desktop: 130px;

//index-page
$bg_desktop_img: url("../../assets/index-page/bg-desktop.jpg"); //relative to component file position
$bg_mobile_img: url("../../assets/index-page/bg-mobile.jpg"); //relative to component file position
$index_page_accent_color: #d9c681;

$sides_spacing_mobile: 30px;
$sides_spacing_tablet: 45px;
$sides_spacing_desktop: 75px;

$quote_width_tablet: 675px;
$quote_width_desktop: 770px;

$slider_width_tablet: 605px;
$slider_width_desktop: 770px;
