.category {
  display: flex;
  margin-bottom: 25px;

  @include lg-size {
    margin-bottom: 30px;
  }

  .category-icon {
    margin-right: 20px;

    img {
      height: 40px;

      @include lg-size {
        height: 45px;
      }
    }
  }

  .category-title {
    height: 100%;
    position: relative;
    text-align: left;
    font-size: 25px;
    letter-spacing: 0.03em;
    vertical-align: middle !important;
    margin-top: 5px;

    @include lg-size {
      font-size: 30px;
      line-height: 35px;

      &::after {
        content: "";
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        height: 1px;
        width: 0%;
        background-color: $index_page_accent_color;
        transition: 0.3s ease-in-out;
      }

      &:focus-visible {
        &:after {
          width: 100%;
        }
      }
    }

    &.disabled {
      pointer-events: none;
    }
  }

  &.sub-category {
    margin-bottom: 15px;
    padding-left: 25px;

    @include lg-size {
      margin-bottom: 20px;
    }

    .category-icon {
      margin-right: 15px;

      img {
        height: 30px;

        @include lg-size {
          height: 33px;
        }
      }
    }

    .category-title {
      font-size: 22px;
      border: none;
      line-height: 32px;
      margin-top: 0;

      @include lg-size {
        font-size: 26px;
      }
    }
  }
}
